aws-android-sdk-s3/target/surefire-reports
aws-android-sdk-mobileanalytics/target/surefire-reports
aws-android-sdk-lambda/target/surefire-reports
.idea
aws-android-sdk-mobileanalytics/target
aws-android-sdk-s3/target
aws-android-sdk-sdb/target
aws-android-sdk-apigateway-core/target
aws-android-sdk-autoscaling/target
aws-android-sdk-cloudwatch/target
aws-android-sdk-cognito/target
aws-android-sdk-core/target
aws-android-sdk-ddb-mapper/target
aws-android-sdk-ddb/target
aws-android-sdk-ec2/target
aws-android-sdk-elb/target
aws-android-sdk-iot/target
aws-android-sdk-kinesis/target
aws-android-sdk-kms/target
aws-android-sdk-lambda/target
aws-android-sdk-machinelearning/target
aws-android-sdk-ses/target
aws-android-sdk-sns/target
aws-android-sdk-sqs/target
