# proguard config for those looking to build sdk
-dontwarn
-dontnote java.**

-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers

-dontobfuscate
-dontoptimize
-dontpreverify
-keepattributes

-keep enum !com.amazonaws.services.cognitosync.** { *; }
-keep class 
        !com.amazonaws.com.google.gson.**,
        !com.amazonaws.javax.**,
        !com.amazonaws.org.apache.**,
        !com.amazonaws.services.cognitosync.**,
        !com.amazonaws.mobileconnectors.cognito.**,
        #autoscaling
        !com.amazonaws.services.autoscaling.**,
        #cloudwatch
        !com.amazonaws.services.cloudwatch.**,
        #ddb mapper
        !com.amazonaws.services.dynamodbv2.datamodeling.**,
        !com.amazonaws.mobileconnectors.dynamodbv2.dynamodbmapper.**,
        #ddb
        !com.amazonaws.services.dynamodbv2.**,
        #ec2
        !com.amazonaws.services.ec2.**,
        #elb
        !com.amazonaws.services.elasticloadbalancing.**,
        #kinesis
        !com.amazonaws.services.kinesis.**,
        !com.amazonaws.mobileconnectors.kinesis.**,
        #analytics
        !com.amazonaws.services.mobileanalytics.**,
        !com.amazonaws.mobileconnectors.amazonmobileanalytics.**,
        #s3
        !com.amazonaws.services.s3.**,
        !com.amazonaws.mobileconnectors.s3.**,
        #sdb
        !com.amazonaws.services.simpledb.**,
        #ses
        !com.amazonaws.services.simpleemail,
        #sns
        !com.amazonaws.services.sns.**,
        #sqs
        !com.amazonaws.services.sqs.**,
        #rest
        ** { *; }

-keep class com.amazonaws.org.apache.http.client.HttpClient
-keep class com.amazonaws.org.apache.http.conn.ClientConnectionManager
-keep class com.amazonaws.org.apache.http.client.methods.HttpRequestBase
-keep class com.amazonaws.org.apache.http.HttpResponse
-keep class com.amazonaws.org.apache.http.params.HttpParams
-keep class com.amazonaws.org.apache.http.HttpRequest
-keep class com.amazonaws.org.apache.http.protocol.HttpContext
-keep class com.amazonaws.org.apache.http.HttpHost
-keep class com.amazonaws.org.apache.http.HttpRequest
-keep class com.amazonaws.org.apache.http.HttpEntityEnclosingRequest
-keep class com.amazonaws.org.apache.http.HttpEntity
-keep class com.amazonaws.org.apache.http.conn.ClientConnectionRequest
-keep class com.amazonaws.org.apache.http.HttpClientConnection
-keep class com.amazonaws.org.apache.http.entity.ContentType
-keep class com.amazonaws.org.apache.http.Header
-keep class com.amazonaws.org.apache.http.auth.AuthSchemeRegistry
-keep class com.amazonaws.org.apache.http.client.ConnectionBackoffStrategy
-keep class com.amazonaws.org.apache.http.client.BackoffManager
-keep class com.amazonaws.org.apache.http.cookie.CookieSpecRegistry
-keep class com.amazonaws.org.apache.http.ConnectionReuseStrategy
-keep class com.amazonaws.org.apache.http.conn.ConnectionKeepAliveStrategy
-keep class com.amazonaws.org.apache.http.client.HttpRequestRetryHandler
-keep class com.amazonaws.org.apache.http.client.RedirectHandler
-keep class com.amazonaws.org.apache.http.client.RedirectStrategy
-keep class com.amazonaws.org.apache.http.client.AuthenticationHandler
-keep class com.amazonaws.org.apache.http.client.AuthenticationStrategy
-keep class com.amazonaws.org.apache.http.client.CookieStore
-keep class com.amazonaws.org.apache.http.client.CredentialsProvider
-keep class com.amazonaws.org.apache.http.conn.routing.HttpRoutePlanner
-keep class com.amazonaws.org.apache.http.client.UserTokenHandler
-keep class com.amazonaws.org.apache.http.HttpResponseInterceptor
-keep class com.amazonaws.org.apache.http.client.methods.HttpUriRequest
-keep class com.amazonaws.org.apache.http.protocol.HttpRequestExecutor
-keep class com.amazonaws.org.apache.http.ConnectionReuseStrategy
-keep class com.amazonaws.org.apache.http.client.ConnectionBackoffStrategy
-keep class com.amazonaws.org.apache.http.HttpRequestInterceptor
-keep class com.amazonaws.org.apache.http.protocol.HttpProcessor
-keep class com.amazonaws.org.apache.http.client.ResponseHandler
-keep class com.amazonaws.org.apache.http.client.methods.HttpEntityEnclosingRequestBase
-keep class com.amazonaws.org.apache.http.client.utils.JdkIdn {
    *** toUnicode(java.lang.String);
}
-keep class com.amazonaws.org.apache.commons.logging.** { *; }

#Stuff to get tests working
-keep class com.amazonaws.org.apache.http.entity.FileEntity { *; }
-keep class com.amazonaws.org.apache.commons.logging.LogFactory { *; }
-keep class com.amazonaws.org.apache.commons.logging.impl.** { *; }
-keep class com.amazonaws.org.apache.commons.logging.Log {
        public boolean isTraceEnabled();
        public void trace(java.lang.Object, java.lang.Throwable);
        }
-keep class com.amazonaws.org.apache.http.client.HttpClient {
        public com.amazonaws.org.apache.http.HttpResponse execute(com.amazonaws.org.apache.http.client.methods.HttpUriRequest);
        }
