<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.amazonaws.testutils">
    <!--
        Not all tests will use the UIAutomator facilities. So don't
        force their minSdkVersion up, unnecessarily.
    -->
    <uses-sdk tools:overrideLibrary="android_libs.ub_uiautomator" />
</manifest>

