<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazonaws.services.pinpoint">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.amazonaws.mobileconnectors.pinpoint.targeting.notification.PinpointNotificationActivity"
            android:theme="@style/PinpointNotificationActivityTheme"
            android:launchMode="singleInstance"
            android:exported="false" />
    </application>
</manifest>

