<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazonaws.services.geo">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.amazonaws.mobileconnectors.geo.tracker.TrackingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>
</manifest>
