<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazonaws.mobile.auth.ui">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.amazonaws.mobile.auth.ui.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.amazonaws.mobile.auth.ui.permission.C2D_MESSAGE" />

    <application android:allowBackup="true"
                 android:supportsRtl="true">
        <activity
             android:name="com.amazonaws.mobile.auth.ui.SignInActivity"
             android:label="@string/title_activity_sign_in"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>

