<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazonaws.mobile.auth.userpools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

     <application>
         <activity
             android:name="com.amazonaws.mobile.auth.userpools.ForceChangePasswordActivity"
             android:label="@string/title_activity_force_change_password"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
         <activity
             android:name="com.amazonaws.mobile.auth.userpools.ForgotPasswordActivity"
             android:label="@string/title_activity_forgot_password"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
         <activity
             android:name="com.amazonaws.mobile.auth.userpools.SignUpActivity"
             android:label="@string/title_activity_sign_up"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

         <activity
             android:name="com.amazonaws.mobile.auth.userpools.MFAActivity"
             android:label="@string/title_activity_mfa"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

         <activity
             android:name="com.amazonaws.mobile.auth.userpools.SignUpConfirmActivity"
             android:label="@string/title_activity_sign_up_confirm"
             android:screenOrientation="portrait"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
     </application>
<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" /></manifest>
